@use 'variables' as var;

@keyframes fill {
  100% {
    width: 100%;
  }
}

@keyframes spring {
  100% {
    left: -14%;
  }
}

@keyframes release-spring {
  0% {
    left: var(--spring-left, -14%);
  }
  100% {
    left: 0%;
  }
}

@keyframes fly-ball-x {
  100% {
    left: var(--power-x, 300px);
  }
}

@keyframes fly-ball-y {
  100% {
    bottom: 0;
  }
}
