.hero {
  position: relative;
  background-image: url('../public/assets/bg.jpg');
  background-position: center;
  background-size: cover;
  color: #fff;
  z-index: 0;

  &-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $hero-bg;
    z-index: -1;
  }
}
