*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
}

.smile {
  display: block;
  margin: 0 auto;
  width: 50%;
}

.face {
  animation: face-color infinite alternate 1s;
}

@keyframes face-color {
  100% {
    fill: red;
    stroke: yellow;
    stroke-width: 20px;
  }
}
