*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
  height: 200vh;
}

.hero-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

.section-title {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-color: #333;
}

/* --- */

.nav-mobile,
.navbar-toggler,
.nav-desktop {
  font-size: 2rem;
}

.header {
  position: relative;
  height: 95vh;
  background-image: url('../img/header.jpg');
  background-position: 65% 50%;
  background-size: cover;
  z-index: 0;
}

/* --- */

.aboutme-img {
  max-height: 400px;
}

.aboutme-footer p {
  font-size: 1.2rem;
}

.aboutme-footer .btn {
  font-size: 1.6rem;
}

.carousel-item {
  position: relative;
  height: 350px;
  background-position: center;
  background-size: cover;
  z-index: 0;
}

.carousel-img-one {
  background-image: url('../img/aboutme/aboutme-carousel-1.jpg');
}
.carousel-img-two {
  background-image: url('../img/aboutme/aboutme-carousel-2.jpg');
}
.carousel-img-three {
  background-image: url('../img/aboutme/aboutme-carousel-3.jpg');
}

/* --- */

@media (min-width: 992px) {
  .header {
    height: 65vh;
  }
}

@media (min-width: 1400px) {
  .header {
    background-image: url('../img/header-hq.jpg');
  }

  .carousel-item {
    height: 450px;
  }

  .carousel-img-one {
    background-image: url('../img/aboutme/aboutme-carousel-1-hq.jpg');
  }
  .carousel-img-two {
    background-image: url('../img/aboutme/aboutme-carousel-2-hq.jpg');
  }
  .carousel-img-three {
    background-image: url('../img/aboutme/aboutme-carousel-3-hq.jpg');
  }
}
