.container {
  max-width: $max-width;
  margin: 0 auto;
  padding: 0 $main-spacing;
}

.app__description {
  margin-bottom: $main-spacing;
}

.app__contact-method-link {
  color: #000;
  text-decoration: none;
}

.app__images {
  margin: $main-spacing 0;
}

.app__img {
  max-width: 100%;
}
